<!-- 상단 메인 탭 네비게이션 -->
<div class="tab-navigation">
  <div class="tab-container">
    <!-- 상단 메인 탭 버튼들 -->
    <div class="tab-background tab-menu"></div>
    <div class="tab-background tab-option"></div>
    <div class="tab-background tab-benefit"></div>
    <div class="tab-background tab-point"></div>
    <div class="tab-background tab-payment"></div>
    
    <!-- 메인 탭 텍스트들 -->
    <div class="tab-text tab-menu-text">메뉴</div>
    <div class="tab-text tab-option-text">옵션</div>
    <div class="tab-text tab-benefit-text">할인</div>
    <div class="tab-text tab-point-text">적립</div>
    <div class="tab-text tab-payment-text">계산</div>
  </div>
</div> 